.box-404 {
    &>.container {
        .error-404 {
            margin-bottom: 100px;
        }
        .content {
            //margin-left: -14px;
            //margin-right: -4px;
        }
            
    }
    
    @media (min-width: 768px) {
        &>.container {
            .error-404 {
                margin-bottom: 40px;
            }
            padding: 64px 0 30px;
            background-color: #f9f9f9;
            margin-top: 78px;
            margin-bottom: 78px;
               
               
        }
    }
}