
.page-main {
    background: url('../img/bg-main-mb.jpg') no-repeat center center;
    //background: cover;
    min-height: 1336px;
    
    @media (min-width: 768px) {
        background: url('../img/bg-main.jpg') no-repeat center top;
        min-height: 700px;
    }
}
.page-posts {
    @media (min-width: 768px) {
        background: url('../img/bg-blog.jpg') no-repeat center top;
        //background: cover;
        min-height: 399px;
    }
    .masthead {
        display: none;
    }
}
.page-work {
    background: url('../img/bg-work-mb.jpg') no-repeat top center;
    background-size: cover;
    min-height: 1326px;    
    @media (min-width: 768px) {
        background: url('../img/bg-work.jpg') no-repeat top center;
        min-height: 398px;
    }
    .masthead {
        display: none;
    }
}
.page-project {
    background: url('../img/bg-project-mb.jpg') no-repeat center center;
    background-size: cover;
    min-height: 1335px;
    @media (min-width: 768px) {
        background: url('../img/bg-project.jpg') no-repeat top center;
        min-height: 700px;
    }
    .masthead {
        display: none;
    }
}
.page-about {
    background: url('../img/bg-about-mb.jpg') no-repeat center center;
    //background: cover;
    background-size: cover;
    min-height: 1337px; 
    .masthead {
        display: none;
    }
    @media (min-width: 768px) {
        background: url('../img/bg-about.jpg') no-repeat top center;
        min-height: 698px;
        
    }
}
.page-contact {
    
    @media (min-width: 768px) {
        background: url('../img/bg-contact.jpg') no-repeat center center;
        //background: cover;
        min-height: 399px;
    }
    .masthead {
        display: none;
    }
}
header {
    .header-logo {
        @media (max-width: 768px) {
            max-width: 100%; 
            background-color: rgba(36,47,53, 0.7);
        } 
        .custom-logo-link {
            //margin-top: 15px;
            padding: 14px 0 18px;
            margin-left: 13px;
            display: inline-block;
            @media (max-width: 768px ) {
                img {
                    width: 365px;
                    height: 81px;
                }
            }
        }        
        
    }
    
    .masthead {
        margin-top: 347px;
        //margin: 18% 0 24%;
    }
    .container {

        @media (min-width: 576px) {
            max-width: 100%; 
        } 
        @media (min-width: 768px) {
            max-width: 720px;
         } 
        @media (min-width: 992px) {
            max-width: 960px; }
        @media (min-width: 1200px) {
            max-width: 1140px;
         } 
    }
}