
.page-main {
    background: url('../img/bg-main-mb.jpg') no-repeat center center;
    //background: cover;
    min-height: 1336px;
    
    @media (min-width: 768px) {
        background: url('../img/bg-main.jpg') no-repeat center top;
        min-height: 700px;
    }
}
.page-posts {
    @media (min-width: 768px) {
        background: url('../img/bg-blog.jpg') no-repeat center top;
        //background: cover;
        min-height: 399px;
    }
    .masthead {
        display: none;
    }
}
.page-work {
    background: url('../img/bg-work-mb.jpg') no-repeat top center;
    background-size: cover;
    min-height: 1326px;    
    @media (min-width: 768px) {
        background: url('../img/bg-work.jpg') no-repeat top center;
        min-height: 398px;
    }
    .masthead {
        display: none;
    }
}
.page-project {
    background: url('../img/bg-project-mb.jpg') no-repeat center center;
    background-size: cover;
    min-height: 1335px;
    @media (min-width: 768px) {
        background: url('../img/bg-project.jpg') no-repeat top center;
        min-height: 700px;
    }
    .masthead {
        display: none;
    }
}
.page-about {
    background: url('../img/bg-about-mb.jpg') no-repeat center center;
    //background: cover;
    background-size: cover;
    min-height: 1337px; 
    .masthead {
        display: none;
    }
    @media (min-width: 768px) {
        background: url('../img/bg-about.jpg') no-repeat top center;
        min-height: 698px;
        
    }
}
.page-contact {
    
    @media (min-width: 768px) {
        background: url('../img/bg-contact.jpg') no-repeat center center;
        //background: cover;
        min-height: 399px;
    }
    .masthead {
        display: none;
    }
}
header {
    .header-logo {
        @media (max-width: 768px) {
            max-width: 100%; 
            background-color: rgba(36,47,53, 0.7);
        } 
        .custom-logo-link {
            //margin-top: 15px;
            padding: 14px 0 18px;
            margin-left: 13px;
            display: inline-block;
            @media (max-width: 768px ) {
                img {
                    width: 365px;
                    height: 81px;
                }
            }
        }        
        
    }
    .header-menu {
        position: relative;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        height: 100%;
        //border: 1px solid red;

        @media (max-width: 768px) {
            background-color: rgb(36,47,53);

        }
        p,a,li {
            color: #fff;
            
        }
        & > p {
            text-transform: uppercase;
            padding-right: 22px;
            text-align: right;
            line-height: 57px;
            margin: 0;
            @media (max-width: 768px) {
                display: none;
            }
        }
        &:hover,
        &:focus {
            .menu-menu-1-container {
                visibility: visible;
                opacity: 1.0;
            }
        }
        &:after {
            position: absolute;
            right: 50%;
            top: 50%;

            display: inline-block;
            width: 35px;
            height: 28px;

            
            margin-top: -14px;
            margin-right: -16px;
            content: '';
            
            background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDQ1OSA0NTkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ1OSA0NTk7IiB4bWw6c3BhY2U9InByZXNlcnZlIiBjbGFzcz0iIj48ZyB0cmFuc2Zvcm09Im1hdHJpeCgxLjUwMzE1LCAwLCAwLCAxLjUwMzE1LCAtMTE1LjQ3MywgLTExNS40NzMpIj48Zz4KCTxnIGlkPSJtZW51Ij4KCQk8cGF0aCBkPSJNMCwzODIuNWg0NTl2LTUxSDBWMzgyLjV6IE0wLDI1NWg0NTl2LTUxSDBWMjU1eiBNMCw3Ni41djUxaDQ1OXYtNTFIMHoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0ZGRkZGRiIgZGF0YS1vbGRfY29sb3I9IiNmZmZmZmYiPjwvcGF0aD4KCTwvZz4KPC9nPjwvZz4gPC9zdmc+') no-repeat center top;
            background-size: contain; 
            @media (min-width: 768px) {
                right: 0;
                top: 50%;

                margin-top: -6px;
                margin-right: 0;
                width: 18px;
                height: 12px;
            }
        }
        .menu-menu-1-container {
            position: absolute;
            right: 0;
            top: 50px;
            visibility: hidden;
            opacity: 0.0;
            transition: all 300ms ease-in-out;
            z-index: 100;
            ul.menu {
                list-style-type: none;
                padding: 0;
                width: 200px;
                border-radius: 5px;
                li {
                    a {
                        display: inline-block;
                        padding: 5px;
                        padding-left: 10px;
                        background: rgba(255,255,255, .3);
                        color: $black-light;
                        width: 100%;

                        &:hover,
                        &:focus {
                            text-decoration: none;
                            background: rgba(255,255,255,.8);
                        }
                    }
                }
            }
        }
    }
    .masthead {
        margin-top: 347px;
        //margin: 18% 0 24%;
    }
    .container {

        @media (min-width: 576px) {
            max-width: 100%; 
        } 
        @media (min-width: 768px) {
            max-width: 720px;
         } 
        @media (min-width: 992px) {
            max-width: 960px; }
        @media (min-width: 1200px) {
            max-width: 1140px;
         } 
    }
}