.move-down {
    position: absolute;
    left: 50%;
    bottom: 50px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgODYuMDAxIDg2LjAwMSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgODYuMDAxIDg2LjAwMTsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiBjbGFzcz0iIj48ZyB0cmFuc2Zvcm09Im1hdHJpeCgwLjQ1NjYxLCAwLCAwLCAwLjQ1NjYxLCAyMy4zNjYsIDIzLjM2NikiPjxnPgoJPHBhdGggc3R5bGU9ImZpbGw6I0ZGRkZGRiIgZD0iTTUuOTA3LDIxLjAwNGMtMS4zNTItMS4zMzgtMy41NDItMS4zMzgtNC44OTQsMGMtMS4zNSwxLjMzNi0xLjM1MiwzLjUwNiwwLDQuODQ0bDM5LjU0LDM5LjE1ICAgYzEuMzUyLDEuMzM4LDMuNTQyLDEuMzM4LDQuODk0LDBsMzkuNTQtMzkuMTVjMS4zNTEtMS4zMzgsMS4zNTItMy41MDYsMC00Ljg0NGMtMS4zNTItMS4zMzgtMy41NDItMS4zMzgtNC44OTQtMC4wMDJMNDMsNTYuNzA3ICAgTDUuOTA3LDIxLjAwNHoiIGRhdGEtb3JpZ2luYWw9IiMwMzAxMDQiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZGF0YS1vbGRfY29sb3I9IiNmZmZmZmYiPjwvcGF0aD4KPC9nPjwvZz4gPC9zdmc+') no-repeat center center;
    background-size:contain;
    transition: all 300ms ease-in-out;
    &:hover, &:focus {
        transform: scale(1.4);
    }
}


.page-main {
    background: url('../img/bg-main-mb.jpg') no-repeat center center;
    //background: cover;
    min-height: 1336px;
    
    @media (min-width: 768px) {
        background: url('../img/bg-main.jpg') no-repeat center top;
        min-height: 700px;
    }
}
.page-posts {
    @media (min-width: 768px) {
        background: url('../img/bg-blog.jpg') no-repeat center top;
        //background: cover;
        min-height: 399px;
    }
    .masthead {
        display: none;
    }
}
.page-work {
    background: url('../img/bg-work-mb.jpg') no-repeat top center;
    background-size: cover;
    min-height: 1326px;    
    @media (min-width: 768px) {
        background: url('../img/bg-work.jpg') no-repeat top center;
        min-height: 398px;
    }
    .masthead {
        display: none;
    }
}
.page-project {
    position: relative;
    background: url('../img/bg-project-mb.jpg') no-repeat center center;
    background-size: cover;
    min-height: 1335px;
    @media (min-width: 768px) {
        background: url('../img/bg-project.jpg') no-repeat top center;
        min-height: 700px;
    }
    .masthead {
        display: none;
    }
}
.page-about {
    position: relative;
    background: url('../img/bg-about-mb.jpg') no-repeat center center;
    //background: cover;
    background-size: cover;
    min-height: 1337px; 
    .masthead {
        display: none;
    }
    @media (min-width: 768px) {
        background: url('../img/bg-about.jpg') no-repeat top center;
        min-height: 698px;
        
    }
}
.page-contact {
    
    @media (min-width: 768px) {
        background: url('../img/bg-contact.jpg') no-repeat center center;
        //background: cover;
        min-height: 399px;
    }
    .masthead {
        display: none;
    }
}
header {
    .header-logo {
        @media (max-width: 768px) {
            max-width: 100%; 
            background-color: rgba(36,47,53, 0.7);
        } 
        .custom-logo-link {
            //margin-top: 15px;
            padding: 14px 0 18px;
            margin-left: 13px;
            display: inline-block;
            @media (max-width: 768px ) {
                img {
                    width: 365px;
                    height: 81px;
                }
            }
        }        
        
    }
    
    .masthead {
        margin-top: 347px;
        //margin: 18% 0 24%;
    }
    .container {

        @media (min-width: 576px) {
            max-width: 100%; 
        } 
        @media (min-width: 768px) {
            max-width: 720px;
         } 
        @media (min-width: 992px) {
            max-width: 960px; }
        @media (min-width: 1200px) {
            max-width: 1140px;
         } 
    }
}