.main {
    
    .main-loop {
        
    }
    .about {
        margin: 134px 0 281px;
        padding: 0 30px;
        .button {
            margin-top: 46px;
        }
    }
    &-work {
        .head {
            margin-bottom: 159px;
        }
        .post-work {
            width: 100%;
            //min-height: 564px;
            margin-bottom: 5px;
            overflow: hidden;
            img {
                width: auto!important;
                height: auto!important;
                min-width: 100%;
                min-height: 100%;
            }
        }
    }
    .team {
        margin-top: 274px;
        padding: 0 30px;
        .head {
            margin-bottom: 93px;
        }
        .peoples {
            .post-people {
                background-color: #f9f9f9;
                margin-bottom: 71px;
                padding-bottom: 71px;
                h3, h4,p {
                    margin-left: 30px;
                }
                h4 {
                }
                overflow: hidden;
                img {
                    min-width: 100%;
                    min-height: 70.7vw;
                    margin-bottom: 34px;
                }
            }
        }
    }
    /* section last post mobile style */
    .last-post {
        margin-top: 207px;
        padding: 0 38px;
        &-head {
            margin-bottom: 93px;
        }
        &-body {
            overflow: hidden;
            background-color: #f9f9f9;
            h5,h4,p,a {
                margin-left: 75px;
            }
            img {
                min-width: 100%;
                min-height: 84vw;
                height: auto;
                width: auto;
            }
            .button {
                padding: 31px 86px;
                margin-top: 76px;
                margin-bottom: 83px;
            }
        }
        &-footer {
            padding-top: 78px;
        }
    }
    /* SECTION CONTACT US */
    &-contact {
        background-color: #f9f9f9;
        margin-top: 285px;
        margin-left: 37px;
        margin-right: 37px;
        margin-bottom: 150px;
       
        
        &-head {
            background-color: #fff;
            padding-bottom: 34px;
        }

        &-map {
           margin-bottom: 85px;
            #map {
                height: 300px;
                width: 100%;
            }
        }
        &-location, &-phone, &-fax, &-email {
            padding-bottom: 150px;
        }
        
    }
    @media (max-width: 576px) {
        .last-post {
                h5,h4,p,a {
                    margin-left: 10px;
                    margin-right: 10px;
                }
        }
        &-contact {
            &-location, &-phone, &-fax, &-email {
                padding-bottom: 80px;
            }   
        }
    }
    @media (min-width: 768px) {
        .about {
            margin: 78px 0 161px;
            padding: 0;
            .button {
                margin-top: 25px;
            }
        }
        &-work {
            .head {
                margin-bottom: 78px;
            }
            .post-work {
                //width: 24.84vw;
                max-width: 317px;
                height: 23.44vw;
                //min-height: 564px;
                margin-bottom: 5px;
                overflow: hidden;
                img {
                    width: auto!important;
                    height: auto!important;
                    min-width: 100%;
                    min-height: 100%;
                }
            }
        }
        .team {
            margin-top: 145px;
            padding: 0;
            .head {
                margin-bottom: 75px;
            }
            .peoples {
                .post-people {
                    background-color: #f9f9f9;
                    margin-bottom: 0px;
                    padding-bottom: 25px;
                    h3, h4,p {
                        margin-left: 22px;
                    }
                    h4 {
                    }
                    overflow: hidden;
                    img {
                        min-width: 100%;
                        min-height: 15vw;
                        margin-bottom: 11px;
                    }
                }
            }
        }
        .last-post {
            margin-top: 164px;
            padding: 0 ;
            &-head {
                margin-bottom: 38px;
            }
            &-body {
                .text-post {
                    width: 50%;
                    float: right;
                }
                h5,h4,p,a {
                    margin-left: 40px;
                    margin-right: 30px;
                }
                img {
                    width: 384px;
                    min-width: auto;
                    min-height: auto;
                    height: auto;
                    //min-height: 84vw;
                    //height: auto!important;
                    //width: auto!important;
                }
                .button {
                    padding: 16px 43px;
                    margin-top: 36px;
                    margin-bottom: 60px;
                }
            }
            &-footer {
                padding-top: 84px;
            }
        }
        /* SECTION CONTACT US desktop*/
    &-contact {
        background-color: #f9f9f9;
        margin-top: 158px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 41px;
       
        
        &-head {
            background-color: #fff;
            padding-bottom: 11px;
        }

        &-map {
           margin-bottom: 38px;
            #map {
                height: 300px;
                width: 100%;
            }
        }
        &-location, &-phone, &-fax, &-email {
            padding-bottom: 40px;
        }
        
    }
    }
}