.work {
    padding: 0 0 8px;

    .work-header {
        padding: 125px 0 108px;
        @media (max-width: 768px) {
            padding: 238px 0 230px;
        }
    }
    .type-work {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        @media(min-width: 768px) {
            width: auto;
            padding: 3px;
            cursor: pointer;
        }
        
        .thumbnail {
            position: relative;
            max-width: 314px;
            height: 300px;
            overflow: hidden; 
            @media (max-width: 768px) {
                max-width: 100%;
                height: 566px;
                img {                    
                    min-height: 100%;
                    min-width: 100%;
                }
            }
        }
        .content {
            display: none;
        }
    }
    .more-content {
        position: fixed;
        left: 0;
        top: 0;
        visibility: hidden;
        opacity: 0.0;
        z-index: 100;
        overflow: auto;

        width: 100%;
        height: 100%;

        h2, p {
            color: #fff;
        }
        h2 {
            font-size: 30px;
        }
        p {
            font-size: 16px;
        }

        background: rgba(0,0,0,.7);

        .container {
            margin-top: 10vh;
        }
        .box-picture {
            
            #thumbnail {
                width: 100%;
                height: 500px;
                overflow: hidden; 
                opacity: 0.0;
                
                img {                    
                    //min-height: 100%;
                    //min-width: 100%;
                    width: 100%;
                    //height: 100%;
                    
                }
                
            }
            
        }
        .box-content {
            .title, .content {
                opacity: 0.0;
            }
            

            #list-picture {
                opacity: 0.0;
                .item-pic {
                    margin-bottom: 10px;
                    width: 18%;
                    cursor: pointer;
                   
                    //overflow: hidden; 
                    img {
                        //height: 100%;
                        max-width: 100%;
                    }
                }
                .big {
                    width: 100%;
                }
            }
        }
        


    }
    @media (max-width:576px) {
        .more-content {
            .box-picture {
            
                #thumbnail {
                    height: 200px;
                }
            }
        }
    }
}
